
.header {
  background-color: #f4f4f4;
  max-height: 12vh;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.title {
  width: 15%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title Image{
  width: 100%;
  height: 100%;
}

.homeinfo {
  min-height: 17vh;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreenbgnews {
  height: auto;
  background-image: url("../Images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.fullscreenbg{
  height: 85vh;
  background-image: url("../Images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container h2 {
  font-weight: 200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.newscategoriessection {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  height: 55vh;
}
.newscategoriesbox {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template: repeat(3, 110px) / repeat(2, 1fr);
  grid-gap: 10px;
}

.newscategorybox {
  border: 2px solid rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  transition: transform 500ms ease;
  overflow: hidden;
}
.newscategorybox:hover {
  transform: scale(1.01);
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.newscategorybox span {
  position: relative;
  height: auto;
  width: 10%;
  margin-left: -20px;
}
.newscategorybox span::after,
.newscategorybox span::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), white 50%);
}

.newscategoryboximage {
  width: 60%;
  float: left;
  transition: width 500ms ease;
}
.newscategorybox:hover .newscategoryboximage,
.newscategorybox:focus-within .newscategoryboximage {
  width: 40%;
  transition-delay: 500ms;
}
.newscategoryboximage img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
.newscategoryboxinfo {
  width: 55%;
  float: right;
  padding: 1%;
  background: linear-gradient(to left, hsl(0 0% 0% /0), hsl(0 0% 0% /0));
}

.newscategoryboxinfo h3 {
  position: relative;
  margin-top: 1px;
  text-align: right;
  font-size: 150%;
  transform: translateY(120%);
  font-weight: 300;
}
.newscategoryboxinfo h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  left: 15%;
  bottom: 0;
  transform: scale(0);
  transition: transform 500ms ease;
  transform-origin: right;
}
.newscategorybox:hover .newscategoryboxinfo h3::after,
.newscategorybox:focus-within .newscategoryboxinfo h3::after {
  transform: scale(1);
  transition-delay: 500ms;
}

.newscategorybox:hover .newscategoryboxinfo h3,
.newscategorybox:focus-within .newscategoryboxinfo h3 {
  transform: translateY(0);
  transition-delay: 500ms;
}
.newscategoryboxinfo p {
  position: relative;
  margin-top: -18px;
  margin-bottom: 5px;
  transform: translateY(220%);
  transition: transform 500ms ease;
}

.newscategorybox:hover .newscategoryboxinfo p,
.newscategorybox:focus-within .newscategoryboxinfo p {
  transform: translateY(0);
  transition-delay: 500ms;
}
.newscategoryboxinfo button {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  padding: 1.5% 2.5%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 70%;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;
  transform: translateY(220%);
  transition: transform 500ms ease;
}
.newscategorybox:hover .newscategoryboxinfo button,
.newscategorybox:focus-within .newscategoryboxinfo button {
  transform: translateY(0);
  transition-delay: 500ms;
}

.newscategoryboxinfo button:focus,
.newscategoryboxinfo button:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.newscategoryboxinfo .newscategorybox:hover,
.newscategorybox:focus-within .newscategorybox {
  transform: scale(1.01);
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition-delay: 500ms;
}

/* CATEGORY */

.categoryheadingsection {
  width: 90%;
  margin: 1% auto;
}

.categorytitle {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.categorytitle h2 {
  font-size: 170%;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 2px solid black;
  text-transform: capitalize;
  font-weight: 400;
}

.categorynewssection {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 70vh;
}

.categorynewsboxes {
  margin: 0 auto;
  width: 60%;
  display: grid;
  padding: 1%;
}

.categorynewsbox {
  margin-top: 2%;
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  background-color: white;
  transition: border 500ms ease-in-out;
  transition: margin-left 500ms ease-in-out;
}
.categorynewsbox:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-left: 10%;
  transition-delay: 100ms;
  background-color: whitesmoke;
}

.newsinfo {
  float: left;
  width: 55%;
  padding: 1%;
  max-height: 30vh;
}

.newsimage {
  float: right;
  width: 40%;
}

.newsimage img {
  width: 100%;
  height: 30vh;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
}

.newsdate {
  text-align: right;
  position: relative;
  top: -10px;
  font-size: 90%;
}

.newstitle {
  position: relative;
  top: -30px;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsdescription {
  position: relative;
  top: -38px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsinnerbox {
  position: relative;
  top: -55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsauthor {
  font-size: 90%;
}

.newsinnerbox button {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  padding: 1.5% 2.5%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 70%;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;
}

.newsinnerbox button:focus,
.newsinnerbox button:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.categorynewssection::-webkit-scrollbar {
  width: 0.5rem;
}
.categorynewssections::-webkit-scrollbar-track {
  margin: 20px;
  -webkit-box-shadow: inset 0 0 10px #bddae0;
}
.categorynewssection::-webkit-scrollbar-thumb {
  background-color: rgb(101, 102, 102);
}

/* News section page */

.newspagesection {
  width: 80%;
  margin: 1% auto;
  height: auto;
}

.newspage {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}

.newspageimage {
  width: 100%;
}

.newspageimage img{
  width: 100%;
  height: 70vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.newspagebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.newspageauthor {
  font-size: 100%;
  margin-left: 3%;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

.newspagedate {
  font-size: 100%;
  margin-right: 3%;
  font-weight: 100;
  font-family: monospace;
}

.newspagetitle {
  width: 98%;
  font-size: 150%;
  font-weight: 600;
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.newspagedescription {
  width: 98%;
  font-size: 110%;
  color: rgba(0, 0, 0, 0.7);
  padding: 1%;
  font-family: "Times New Roman", Times, serif;
}

/* body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  margin: 20px;
  -webkit-box-shadow: inset 0 0 10px #bddae0;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(101, 102, 102);
} */
